<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th, td {
            border: 1px solid black;
            padding-left: 40px;
            padding-right: 40px;
        }

        img{
            width: 200px;
            height: 150px;
        }
    </style>
</head>
<body>
    <a type="button" class="btn btn-warning" href="/avto/create/{{avto.id}}">Create</a>
    
    {% block content %}

    {% endblock %}
</body>
</html>